<!DOCTYPE html>
<html lang="en">
<%- include('block/head') %>

<body class="page">
    <%- include('block/face') %>
    <%- include('block/causes') %>
    <%- include('block/cards') %>
    <%- include('block/help') %>
    <%- include('block/sostav') %>
    <%- include('block/plus') %>
    <%- include('block/effect') %>
    <%- include('block/professional') %>
    <%- include('block/commits') %>
    <%- include('block/face') %>
    <footer class="footer">
        <div class="container" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
            <span>BERNADATTE LTD, Av Ricardo J. Alfaro, Panama International</span>
            <br>
            <a href="/cdn/files/Privacy Policy.html" target="_blank">Privacy Policy</a>
        </div>
    </footer>
    <%- include('block/script') %>
</body>

</html>